html {
    overflow: scroll;
    overflow-x: hidden;
    position: relative;
  min-height: 100%;
}
::-webkit-scrollbar {
    width: 0;  /* Remove scrollbar space */
    background: transparent;  /* Optional: just make scrollbar invisible */
}
/* Optional: show position indicator in red */
::-webkit-scrollbar-thumb {
    background: transparent;
}
body{
    font-family: 'Sahel', sans-serif;
    margin-bottom: 80px;
}

.section::-webkit-scrollbar-thumb {
background-image: linear-gradient(180deg, #d0368a 0%, #708ad4 99%);
box-shadow: inset 2px 2px 5px 0 rgba(#fff, 0.5);
border-radius: 100px;
}

.bold-16{
    font-weight: bold;
    font-size: 16px;
}
.bold-10{
    font-weight: bold;
    font-size: 10px;
}
.custom-navbar {
    background-color: #00897b; /* سبز مشابه تصویر */
    color: white;
    height: 60px; /* ارتفاع نوار */
}
.custom-navbar .navbar-brand {
    color: white;
    font-size: 1.2rem;
}
.custom-navbar .navbar-toggler {
    border: none;
}
.custom-navbar .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3E%3Cpath stroke='rgba%2888, 88, 88, 1%29' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}
.custom-navbar .search-icon {
    font-size: 1.5rem;
    color: white;
    margin-left: 15px;
    cursor: pointer;
}
.scrollable-menu {
    white-space: nowrap;
    overflow-x: auto;
    padding: 10px 0;
    background-color: #f8f9fa;
    direction: rtl; /* تغییر جهت اسکرول */
}
.scrollable-menu .menu-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 75px;
    height: 92px;
    margin: 0 10px;
    padding: 20px;
    border: 1px solid #00897b;
    border-radius: 8px;
    background-color: #e0f2f1;
    color: #00897b;
    font-weight: bold;
    font-size: 10px;
    color: #191919
}
.scrollable-menu .menu-item i {
    font-size: 2rem;
    display: block;
    margin-bottom: 10px;
}
.book-section {
    direction: rtl;
    padding: 20px;
    
}
.book-section h2 {
    font-size: 1.5rem;
    display: flex;
    align-items: center;
}
.book-section h2 i {
    margin-left: 10px;
    font-size: 1.5rem;
}
.book-carousel {
    white-space: nowrap;
    overflow-x: auto;
    padding: 10px 0;
}
.book-carousel .book-item {
    display: inline-block;
    width: 200px; /* افزایش عرض کارت */
    margin: 0 10px;
    text-align: center;
    border: 1px solid #00897b;
    background-color: #e0f2f1;
    border-radius: 8px;
    padding: 8px;
}
.book-carousel .book-item img {
    width: 100%;
    border-radius: 8px;
    
}
.book-carousel .book-item .title {
    font-size: 0.9rem;
    margin-top: 10px;
    font-weight: bold;
}
.book-carousel .book-item .author {
    font-size: 0.8rem;
    color: gray;
}


.event-section {
    direction: rtl;
    padding: 20px;
    
}
.event-section h2 {
    font-size: 1.5rem;
    display: flex;
    align-items: center;
}
.event-section h2 i {
    margin-left: 10px;
    font-size: 1.5rem;
}
.event-carousel {
    white-space: nowrap;
    overflow-x: auto;
    padding: 10px 0;
    display: flex;
}
.event-carousel .event-item {
    word-wrap: break-word;    /* پشتیبانی بیشتر */
    white-space: normal;      /* اجازه می‌دهد خطوط شکسته شوند */
    max-width: 100%;  
    display: inline-block;
    margin: 0 10px;
    text-align: center;
    width: 202px;
    height: 172px;
    border: 1px solid #00897b;
    border-radius: 8px;
    padding: 8px;
    box-sizing: border-box;
}
.event-carousel .event-item img {
    width: 100%;
    border: 1px solid #00897b;
    border-radius: 8px;
    width: 172px; /* افزایش عرض کارت */
    height: 86px;
    
}
.event-carousel .event-item .title {
    font-size: 0.9rem;
    margin-top: 10px;
    font-weight: bold;
}
.event-carousel .event-item .author {
    font-size: 0.8rem;
    color: gray;
}


.course-section {
    direction: rtl;
    padding: 20px;
    
}
.course-section h2 {
    font-size: 1.5rem;
    display: flex;
    align-items: center;
}
.course-section h2 i {
    margin-left: 10px;
    font-size: 1.5rem;
}
.course-carousel {
    white-space: nowrap;
    overflow-x: auto;
    padding: 10px 0;
    display: flex;
}
.course-carousel .course-item {
    word-wrap: break-word;    /* پشتیبانی بیشتر */
    white-space: normal;      /* اجازه می‌دهد خطوط شکسته شوند */
    max-width: 100%;  
    display: inline-block;
    margin: 0 10px;
    text-align: center;
    width: 202px;
    height: 172px;
    border: 1px solid #00897b;
    border-radius: 8px;
    padding: 8px;
    box-sizing: border-box;
}
.course-carousel .course-item img {
    width: 100%;
    border: 1px solid #00897b;
    border-radius: 8px;
    width: 172px; /* افزایش عرض کارت */
    height: 86px;
}
.course-carousel .course-item .title {
    font-size: 0.9rem;
    margin-top: 10px;
    font-weight: bold;
}
.course-carousel .course-item .author {
    font-size: 0.8rem;
    color: gray;
}

.forum-section {
    direction: rtl;
    padding-left: 16px;
    padding-right: 16px;
    border-radius: 8px;
}
.forum-section h2 {
    font-size: 1.5rem;
    display: flex;
    align-items: center;
}
.forum-section h2 i {
    margin-left: 10px;
    font-size: 1.5rem;
}
.forum-carousel{
    padding-top: 16px;
}
.forum-item {
    margin-top: 8px!important;
}
/*
.forum-carousel {
    white-space: nowrap;
    overflow-x: auto;
    padding: 10px 0;
}
.forum-carousel .forum-item {
    display: inline-block;
    margin: 0 10px;
    text-align: center;
    width: 202px;
    height: 172px;
    border: 1px solid #00897b;
    border-radius: 8px;
    padding: 8px;
}
.forum-carousel .forum-item img {
    width: 100%;
    border: 1px solid #00897b;
    border-radius: 8px;
    width: 172px; 
    height: 86px;
    
}
.forum-carousel .forum-item .title {
    font-size: 0.9rem;
    margin-top: 10px;
    font-weight: bold;
}
.forum-carousel .forum-item .author {
    font-size: 0.8rem;
    color: gray;
} */



/* Navigation Bar */
.footer {
    position:fixed;
     bottom: 0;
     width: 100%;
     height: 60px;
     background-color: #f5f5f5;
     align-items: center;
    border-top: 1px solid transparent;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2);
}

.bottom-navbar{
    border-top: 1px solid transparent;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2);
    align-items: center;
}

.group-container{
    padding:0;
    height:100%;
    
}

.selectors, .block{
    height:100%;
    width:100%;
    padding-bottom: 8px;
    padding-right: 10px;
    padding-left: 10px;
}

.selectors button{
    border: 0;
    border-radius: 0;
    background-color: #F9F8F0 !important;
    width:30%;
    margin-left: 0;
}

.selectors button:active{
    border:0;
}

.selectors button:focus{
    border:0;
    outline: 0;
    box-shadow: 0 0 0 0px;
}

.active, .selector-holder{
    display: flex;
    flex-direction: column;
}

.inactive{
    display: none;
}

.selector-holder span{
    font-size: 0.8rem;
}

/* Colors of the buttons*/
.button-active, .selectors button:hover, .selectors button:active, .selectors button:focus{
    color: #018176;
    padding-bottom: 10px;
}

.button-inactive{
    color: #000;
    padding-bottom: 10px;
}



















.profile{
    background-color: #e0f2f1;
    border-radius: 8px;
    padding-top: -200px;
}